.container-historia{
    display: flex;
    flex-flow: row-reverse wrap;
    width: 90%;
    margin: 6% 5% 4% 5%;
}

.container-conteudo-historia{
    width: 60%;
}

.container-conteudo-historia h1{
    margin: 0px;
    margin-bottom: 2%;
}

.container-conteudo-historia h1, .container-conteudo-historia p, .container-conteudo-historia hr{
    text-align: left;
    margin-left: 5%;
}

.container-img{
    background-color: #C00606;
    width: 40%;
}