header{
    background-color: #EAE8E8;
    color: #121111;
    margin: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

header img{
    width: 9%;
    height: auto;
    margin: 0px;
}

ul{
    display: flex;
    margin: 0px;
    justify-content: flex-end;
    align-items: flex-end;
}

li{
    margin-left: 15px;
    list-style: none;
}

.link{
    color: #121111;
}

h1, h2{
    text-align: center;
}