@media only screen and (max-width: 950px){
    
    .container-titulo h1{
        font-size: 22px;
        text-align: left;
        margin-top: 50px;
        margin-bottom: 2%;
    }

    .container-titulo hr{
        width: 15%;
        margin-bottom: 3%;
    }

    .container-contatos{
        margin-bottom: 2%;
    }
    .container-contatos h2{
        font-size: 18px;
    }

    .container-contatos p{
        font-size: 13px;
    }

    .container-ouvidoria h2{
        font-size: 18px;
    }

    input, select, textarea{
        width: 70%;
        font-size: 13px;
    }
}