@media only screen and (max-width: 950px){
    
    .container-titulo h1{
        font-size: 22px;
        text-align: left;
        margin-top: 50px;
        margin-bottom: 2%;
    }

    .container-titulo hr{
        width: 15%;
        margin-bottom: 3%;
    }

    .container-contatos{
        margin-bottom: 2%;
    }
    .container-contatos h2{
        font-size: 18px;
    }

    .container-contatos p{
        font-size: 13px;
    }

    .container-ouvidoria h2{
        font-size: 18px;
    }

    input, select, textarea{
        width: 70%;
        font-size: 13px;
    }
}

@media only screen and (max-width: 650px){
    .container-contatos{
        display: flex;
        flex-flow: column wrap;
    }

    .container-telefones{
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .container-contatos iframe{
        width: 80%;
        
    }
    
}