header{
    background-color: #C00606;
    margin: 0px;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

header img{
    width: 9%;
    height: auto;
    margin: 0px;
}

ul{
    margin: 0px;
    width: 90%;
    padding-right: 15px;
}

li{
    margin-left: 20px;
    list-style: none;
    float: right;
}

.link{
    color: #F6F6F6;
    text-decoration: none;
}

.link:hover{
    background-color: #810404;
    padding: 5px 7px 5px 7px;
    text-decoration: underline;
    font-weight: 500;
    border-radius: 2px;
}

h1, h2{
    text-align: center;
}