header{
    background-color: rgb(245, 245, 245);
    margin: 0px;
    padding: 8px;
    display: flex;
    position: sticky;
    top: 0;
    align-self: flex-start;
    flex-flow: row nowrap;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

header img{
    width: 71px;
    height: auto;
    margin: 0px;
    padding-left: 3%;
}

header img:hover{
    opacity: 0.7;
}

header ul, .navbar{
    margin: 0px;
    width: 100%;
    padding-right: 15px;
    padding-left: 0px;
    display: flex;
    flex-flow: row-reverse;
    justify-content: right;
    align-items: center;
}

li{
    margin-left: 20px;
    list-style: none;
}

header ul li {
    position: relative;
    border-right: rgba(128, 128, 128, 0.91);

}

.link{
    color: rgb(16, 16, 16);
    text-decoration: none;
    font-weight: 500;
    width: fit-content;
    padding: 5px 7px 5px 7px;
}

.link:hover{
    font-weight: 700;
    border-radius: 2px;
    color: #C00606;
}

.active-page{
    padding: 5px 7px 5px 7px;
    font-weight: 700;
    border-radius: 2px;
    color: #C00606;
}

h1, h2{
    text-align: center;
}